<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Brewhouse Rails Template</h1>

    <p>
      There is not much to see here yet apart from the <%= link_to 'styleguide', styleguide_path %>.
      Happy coding!
    </p>
  </div>
</div>
