<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Inventario</h1>

    <p>
      This is the base Rails app used at <%= link_to "Brewhouse", "http://brewhouse.io" %>.
    </p>
    <p>
      Have a look at the <%= link_to 'styleguide', styleguide_path %> and check out the <%= link_to "Github repo", "https://github.com/BrewhouseTeam/inventario" %> for more details.
    </p>
    <p>
      Enjoy the rest of your <%= Time.now.strftime("%A") %>!
    </p>
  </div>
</div>
