-#.jumbotron
-#  .container
-#    %h1 Welcome to Inventario
-#    %p
-#      This is the base Rails app used at #{link_to "Brewhouse", "http://brewhouse.io"}.
-#    %p
-#      Have a look at the #{link_to 'styleguide', styleguide_path} and check out the #{link_to "Github repo", "https://github.com/BrewhouseTeam/inventario"} for more details.
-#    %p
-#      Enjoy the rest of your #{Time.now.strftime("%A")}!
.container-fluid
  .row
    .col-md-4
      .card
        .header
          %h4.title Email Statistics
          %p.category Last Campaign Performance
        .content
          #chartPreferences.ct-chart.ct-perfect-fourth
          .footer
            .legend
              %i.fa.fa-circle.text-info
              Open
              %i.fa.fa-circle.text-danger
              Bounce
              %i.fa.fa-circle.text-warning
              Unsubscribe
            %hr/
            .stats
              %i.fa.fa-clock-o
              Campaign sent 2 days ago
    .col-md-8
      .card
        .header
          %h4.title Users Behavior
          %p.category 24 Hours performance
        .content
          #chartHours.ct-chart
          .footer
            .legend
              %i.fa.fa-circle.text-info
              Open
              %i.fa.fa-circle.text-danger
              Click
              %i.fa.fa-circle.text-warning
              Click Second Time
            %hr/
            .stats
              %i.fa.fa-history
              Updated 3 minutes ago
  .row
    .col-md-6
      .card
        .header
          %h4.title 2014 Sales
          %p.category All products including Taxes
        .content
          #chartActivity.ct-chart
          .footer
            .legend
              %i.fa.fa-circle.text-info
              Tesla Model S
              %i.fa.fa-circle.text-danger
              BMW 5 Series
            %hr/
            .stats
              %i.fa.fa-check
              Data information certified
    .col-md-6
      .card
        .header
          %h4.title Tasks
          %p.category Backend development
        .content
          .table-full-width
            %table.table
              %tbody
                %tr
                  %td
                    %label.checkbox
                      %input{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  %td Sign contract for "What are conference organizers afraid of?"
                  %td.td-actions.text-right
                    %button.btn.btn-info.btn-simple.btn-xs{:rel => "tooltip", :title => "Edit Task", :type => "button"}
                      %i.fa.fa-edit
                    %button.btn.btn-danger.btn-simple.btn-xs{:rel => "tooltip", :title => "Remove", :type => "button"}
                      %i.fa.fa-times
                %tr
                  %td
                    %label.checkbox
                      %input{:checked => "checked", "data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  %td Lines From Great Russian Literature? Or E-mails From My Boss?
                  %td.td-actions.text-right
                    %button.btn.btn-info.btn-simple.btn-xs{:rel => "tooltip", :title => "Edit Task", :type => "button"}
                      %i.fa.fa-edit
                    %button.btn.btn-danger.btn-simple.btn-xs{:rel => "tooltip", :title => "Remove", :type => "button"}
                      %i.fa.fa-times
                %tr
                  %td
                    %label.checkbox
                      %input{:checked => "checked", "data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  %td
                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                  %td.td-actions.text-right
                    %button.btn.btn-info.btn-simple.btn-xs{:rel => "tooltip", :title => "Edit Task", :type => "button"}
                      %i.fa.fa-edit
                    %button.btn.btn-danger.btn-simple.btn-xs{:rel => "tooltip", :title => "Remove", :type => "button"}
                      %i.fa.fa-times
                %tr
                  %td
                    %label.checkbox
                      %input{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  %td Create 4 Invisible User Experiences you Never Knew About
                  %td.td-actions.text-right
                    %button.btn.btn-info.btn-simple.btn-xs{:rel => "tooltip", :title => "Edit Task", :type => "button"}
                      %i.fa.fa-edit
                    %button.btn.btn-danger.btn-simple.btn-xs{:rel => "tooltip", :title => "Remove", :type => "button"}
                      %i.fa.fa-times
                %tr
                  %td
                    %label.checkbox
                      %input{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  %td Read "Following makes Medium better"
                  %td.td-actions.text-right
                    %button.btn.btn-info.btn-simple.btn-xs{:rel => "tooltip", :title => "Edit Task", :type => "button"}
                      %i.fa.fa-edit
                    %button.btn.btn-danger.btn-simple.btn-xs{:rel => "tooltip", :title => "Remove", :type => "button"}
                      %i.fa.fa-times
                %tr
                  %td
                    %label.checkbox
                      %input{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  %td Unfollow 5 enemies from twitter
                  %td.td-actions.text-right
                    %button.btn.btn-info.btn-simple.btn-xs{:rel => "tooltip", :title => "Edit Task", :type => "button"}
                      %i.fa.fa-edit
                    %button.btn.btn-danger.btn-simple.btn-xs{:rel => "tooltip", :title => "Remove", :type => "button"}
                      %i.fa.fa-times
          .footer
            %hr/
            .stats
              %i.fa.fa-history
              Updated 3 minutes ago