.row
  =render partial: 'reports/graphs/total_sales_year'
  =render partial: 'reports/graphs/number_sales_year'
.row
=render partial: 'reports/graphs/stock_sales_year'
=render partial: 'reports/graphs/data_info'